.titleTaller {
  text-align: center;
}
.timetable{
  width: 55%;
  margin-inline-start: 4.5rem;
  margin-block-start: 2rem;
  border: 1px solid;
  border-radius: .3rem;
  padding: .3rem;
}
.timetable strong{
  text-align: center;
}
.timetable p{
  text-align: center;
}
