#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.contentp{
  text-align: center;
  color: rgb(100, 200, 50);
}
ion-card-header p{
  padding: 0;
  margin: 0;
}
.cartItem{
 display: grid;
 grid-template-columns: auto auto;
 align-items: center;
 gap: 1rem;
}
.priceItem p{
  text-align: end;
}
.cartexpert p{
  color: rgb(179, 203, 211);
}
.priceItem p{
  color: rgb(184, 230, 173);
}
.btnEncuesta{
 --background: transparent;
  font-size: .7rem;
  padding: 0;
  margin: 0;
  color: rgb(181, 181, 250);
  border: none;
}
.btnEncuestaprueba{
  --background: transparent;
  font-size: .7rem;
  margin-inline-start: 2rem;
  color: rgb(181, 181, 250);
  border: none;
}
